*.iml
.gradle
/local.properties
/.idea
.DS_Store
.env
.env.release
/release/
/build
/app/build
/app/.cxx
/build-openssh
/build-openssl
/build-bash
/build-busybox
/build-rsync
*.tar.gz
*.tar.bz2
*.tar.xz
/captures
.externalNativeBuild
.cxx
/termux-app
/ghostty
/build-mosh
/cloudflared
/chafa
/AGENTS.md
